:root {
  --main-brown: #674636;
  --accent-brown: #85654E;
  --dark-brown: #6C3428;
  --light-brown: #AF8260;

  --red: #F44336;

  --orange: #D86937;
  --lava-orange: #FF5722;
  --lava-orange-1: #FF9800;
  --lava-orange-2: #C95110;

  --yellow: #F0A728;
  --yellow-lava: #FFC107;

  --light-blue: #7FBED1;
  --dark-blue: #577080;
  --dark-blue-1: #547183;

  --biege: #E9DBC9;
  --light-biege: #FFF8E8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
